.sign-in {
  margin-bottom: 50px;
  margin-top: 50px;
  .container_form {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    width: 900px;
    .signin-content {
      display: flex;
      padding-bottom: 87px;
      padding-top: 67px;
      .signin-image {
        overflow: hidden;
        width: 50%;
        padding: 30px;
        figure {
          margin-bottom: 50px;
          text-align: center;
          margin: 0 0 1em;
        }
      }
      .signin-form {
        padding: 50px 30px;
        width: 40%;
        overflow: hidden;
        width: 50%;
        h2 {
          color: #1dbf73;
          font-weight: 700;
          margin-left: 50px;
        }
        .login {
          background: #1dbf73;
          border: none;
          border-radius: 50px;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          height: 45px;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;
          width: 110px;
        }
        .login:hover {
          background: #188652 !important;
          box-shadow: 2px 2px 4px 2px #d3d6d4;
          color: #fff !important;
          -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
        }
        .text_register {
          color: #1dbf73;
          font-size: 14px;
        }
        a:hover {
          color: #40a9ff;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container_form {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .container_form {
    max-width: 100%;
    width: calc(100% - 30px);
  }
}
