.footer {
  border-top: 1px solid #e4e5e7;
  .footer_wrapper {
    padding: 64px 0 24px !important;
    .footer_row {
      padding: 0 32px;
      .footer_top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
          padding: 0 16px;
          .article {
            padding-bottom: 40px;
            .title {
              padding: 0 0 20px;
              h6 {
                color: #404145;
                cursor: default;
                font-weight: 700;
              }
            }
            .content {
              ul {
                list-style-type: none;
                li {
                  padding-bottom: 16px;
                  width: -webkit-max-content;
                  width: max-content;
                  a {
                    color: #74767e;
                    position: relative;
                  }
                  a:after {
                    background: #74767e;
                    bottom: 0;
                    content: "";
                    height: 1px;
                    left: 0;
                    position: absolute;
                    width: 0;
                    z-index: 1;
                  }
                }
              }
            }
          }
        }
      }
      .footer_bottom {
        align-items: center;
        border-top: 1px solid #e4e5e7;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 16px 0;
        .left {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          .copyright {
            color: #b5b6ba;
            font-size: 14px;
            margin-left: 24px;
          }
        }
        .right {
          align-items: center;
          display: flex;
          .social {
            display: flex;
            margin-bottom: 0;
            padding-right: 32px !important;
            li {
              margin-right: 24px;
              a {
                .icon {
                  color: #74767e;
                  font-size: 18px;
                  height: 20px;
                  padding: 2px;
                  width: 20px;
                }
              }
            }
          }
          .settings {
            align-items: center;
            display: flex;
            .settings_locale {
              margin-right: 4px;
              .selection {
                background: none;
                border: none;
                padding: 8px 12px;
                span {
                  color: #74767e;
                  font-weight: 600;
                  padding-right: 8px;
                }
              }
            }
            .button {
              background: #fff;
              border: 1px solid #74767e;
              border-radius: 50px;
              color: #7e7e7e;
              height: 32px;
              width: 32px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1160px) {
  .footer {
    .footer_warpper {
      .footer_row {
        margin: 0 auto;
        max-width: 1400px;
      }
    }
  }
}
