a {
  -webkit-text-decoration-skip: objects;
  background-color: initial;
  color: #1890ff;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: color 0.3s;
}
body {
  font-size: 14px;
  line-height: 1.5; /* Tùy chọn, để cải thiện khả năng đọc */
}
.container {
  padding: 0 15px !important;
}
.container_form {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  width: 900px;
}
